@using System.Globalization
@using Microsoft.AspNetCore.Mvc.Localization
@model List<Vlag>

@inject IViewLocalizer Localizer

@section Style
{
    <link rel="stylesheet" href="css/custom.css"/>
}

@{
    ViewData["viewTitle"] = Localizer["winkelDescription"];
    Layout = "_Layout";
    
}

<h2>@ViewData["controllerTitle"]</h2>
<p>@ViewData["viewTitle"]</p>

@{
    Vlag v = Model.Find(p => p.LandCode.Equals(CultureInfo.CurrentCulture.ToString()));

    Product product = new Product()
    {
        current = true,
        vlag = v
    };
    
    <partial name="_product" model="@product"/>

    product.current = false;
    foreach (Vlag vlag in @Model)
     {
         if (!vlag.LandCode.Equals(CultureInfo.CurrentCulture.ToString()))
         {
             product.vlag = vlag;
             <partial name="_product" model="@product"/>
         }
     }
}
@*
<h3>Current Time: @DateTime.Now.TimeOfDay.ToString()</h3>
<h3>Cached Time: @(ViewBag.Cache == null ? "No cached entry found" : ViewBag.Cache.ToString("HH:mm:ss tt zz"))</h3>
*@
