@using System.Globalization
@using Microsoft.AspNetCore.Mvc.Localization
@model List<Vlag>

@inject IViewLocalizer Localizer

@section Style
{
    <link rel="stylesheet" href="css/custom.css"/>
}

@{
    ViewData["viewTitle"] = Localizer["winkelDescription"];
    Layout = "_Layout";
    
}

<h2>@ViewData["controllerTitle"]</h2>
<p>@ViewData["viewTitle"]</p>


@foreach (Vlag vlag in @Model)
{
    if (vlag.LandCode.Equals(CultureInfo.CurrentCulture.ToString()))
    {
        <div class="product current">
            <img src="@vlag.Afbeelding" alt="@vlag.Beschrijving"/>
            <h1>@Localizer[@vlag.Naam]</h1>
            <h2>@Localizer[@String.Format("{0:C}", vlag.Prijs)]</h2>
        </div>
    }
}

@foreach (Vlag vlag in @Model)
{
    if (!vlag.LandCode.Equals(CultureInfo.CurrentCulture.ToString()))
    {
        <div class="product">
            <img src="@vlag.Afbeelding" alt="@vlag.Beschrijving"/>
            <h1>@Localizer[@vlag.Naam]</h1>
            <h2>@Localizer[@String.Format("{0:C}", vlag.Prijs)]</h2>
        </div>
    }
}



