@using System.Globalization
@using Microsoft.AspNetCore.Mvc.Localization
@using Domain
@model List<Vlag>

@inject IViewLocalizer Localizer

@section Style
{
    <link rel="stylesheet" href="css/custom.css"/>
}

@{
    ViewData["viewTitle"] = Localizer["winkelDescription"];
    Layout = "_Layout";
    
    ViewData["Title"] = ViewData["controllerTitle"];
}

<h2>@ViewData["controllerTitle"]</h2>
<p>@ViewData["viewTitle"]</p>

@{
    Vlag v = Model.Find(p => p.LandCode.Equals(CultureInfo.CurrentCulture.ToString()));
    Console.WriteLine(CultureInfo.CurrentCulture.ToString());
    
    @*<cache expires-after="@TimeSpan.FromSeconds(5)" vary-by-route="@v.ID">*@
    <div class="product current">
        <img src="@v.Afbeelding" alt="@v.Beschrijving"/>
        <h1>@v.Naam</h1>
        <h2>@String.Format("{0:C}", v.Prijs)</h2>
        <p>*last updated  @ViewBag.cacheTime</p>
        <p>*last updated (In-Memory Cache) @ViewBag.memoryCacheTime</p>
    </div>
    @*</cache>*@
    
    @* View Caching *@
    foreach (Vlag vlag in @Model)
     {
         if (!vlag.LandCode.Equals(CultureInfo.CurrentCulture.ToString()))
         {          
@*              <cache expires-after="@TimeSpan.FromSeconds(10)" vary-by-route="@vlag.ID, @CultureInfo.CurrentCulture.ToString()">     *@
                 <div class="product">
                     <img src="@vlag.Afbeelding" alt="@vlag.Beschrijving"/>
                     <h1>@vlag.Naam</h1>
                     <h2>@String.Format("{0:C}", vlag.Prijs)</h2>
                     <p>*last updated (Response Caching) @ViewBag.cacheTime</p>
                     <p>*last updated (In-Memory Cache) @ViewBag.memoryCacheTime</p>
                 </div>
             @* </cache> *@
         }
     }
}


